.academic__bg {
    background-color: var(--background-base);
}

.academic .container {
    padding: 2rem 0;
}

.academic__title {
    text-align: center;

    font-weight: 700;
}

.academic__courses {
    display: flex;

    justify-content: space-around;
}

.academic__courses__box {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.academic__courses__item__image img {
    width: 368px;
    height: 286px;

    border-radius: 1%;

    padding: 1rem 0;
}

.academic__courses__item__title {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 26px;
}

.academic__courses__item__subtitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
}

@media screen and (min-width: 0) {
    .academic__title {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }

    .academic__courses {
        flex-direction: column;

        padding: 0;
    }

    .academic__courses__box {
        padding: 1rem 0;
    }

    .academic__courses__item__image img {
        width: 300px;
        height: 200px;
        padding: 0.5rem 0;
    }
}

@media screen and (min-width: 992px) {
    .academic__title {
        font-size: 2rem;
        line-height: 2.375rem;
    }

    .academic__courses {
        flex-direction: row;
        padding: 2rem 0;
    }

    .academic__courses__box {
        padding: 0;
    }

    .academic__courses__item__image img {
        width: 368px;
        height: 286px;
        padding: 1rem 0;
    }
}