.formcontato {
    padding: 2.5rem 0;

    background-color: var(--background-base);
}

.formcontato__text {
    padding: 0 1rem;
}

.formcontato__title {
    font-weight: 700;

    margin-bottom: 0.5rem;
}

.formcontato__subtext {
    font-weight: 500;
}

.formcontato__form {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
    gap: 2rem;
}

.formcontato__form *::placeholder {
    color: var(--color-text-base);
}

.formcontato__input {
    border: none;
    outline: none;
    font-family: 'Raleway';

    height: 56px;
    border-radius: 5px;

    font-size: 1rem;

    color: var(--color-text-base);
    background-color: var(--background-form);
}

.formcontato__textarea {
    font-family: 'Raleway';
    border: none;
    outline: none;
    resize: none;

    scrollbar-gutter: none;

    height: 133px;
    border-radius: 5px;

    font-size: 1rem;

    color: var(--color-text-base);
    background-color: var(--background-form);
}

.formcontato__textarea::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

.formcontato__textarea::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border-radius: 5px;
}

.formcontato__botao {
    font-family: 'Raleway';
    border: none;

    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;

    border-radius: 4px;

    color: var(--color-text-base);
    background-color: var(--background-button);
}

.formcontato__botao:hover {
    cursor: pointer;
    background-color: var(--background-button-hover);
    border: 2px solid var(--form-border);
}

.formcontato__warn {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 1rem;
}

.formcontato__warnings {
    text-transform: uppercase;

    font-size: 1.2rem;
    font-weight: 400;

    opacity: 0;

    transition: opacity 1s;
}

@media screen and (min-width: 0) {
    .formcontato__image {
        display: none;
    }

    .formcontato__title {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }

    .formcontato__subtext {
        font-size: 1rem;
        line-height: 1.188rem;
    }

    .formcontato__botao {
        width: 100%;
        height: 56px;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 100%;

        box-sizing: border-box;

        padding: 1rem 1rem;
    }
}

@media screen and (min-width: 992px) {
    .formcontato__contato {
        display: flex;
        justify-content: center;
    }
    
    .formcontato__image {
        display: flex;
    }

    .formcontato__title {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }

    .formcontato__subtext {
        font-size: 1rem;
        line-height: 1.188rem;
    }

    .formcontato__botao {
        width: 100%;
        height: 56px;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 100%;

        box-sizing: border-box;

        padding: 1rem 1rem;
    }
}