.experience .container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.experience__section__title {
    text-align: center;

    font-weight: 700;
    margin-bottom: 1rem;
}

.experience__box {
    display: flex;
}

.experience__image {
    box-shadow: 0 0 10px 5px black;
}

.experience__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;
}

.experience__title {
    font-weight: 700;
}

.experience__text {
    font-weight: 500;
}

.experience__description {
    display: flex;
    flex-wrap: nowrap;
}

.experience__botao--repo {
    font-family: 'Raleway';
    cursor: pointer;
    background-color: transparent;

    width: 105px;
    height: 51px;
    border-radius: 5%;
    margin-right: 0.5rem;

    border: 1px solid var(--white);
    color: var(--white);
}

.experience__botao--repo:hover {
    color: var(--background);
    background-color: var(--white);

    transition: all .1s ease-in-out;
}

.experience__botao--demo {
    font-family: 'Raleway';
    cursor: pointer;

    width: 105px;
    height: 51px;
    border-radius: 5%;

    color: var(--color-text-base);

    border: 1px solid var(--background-base);
    background-color: var(--background-button);
}

.experience__botao--demo:hover {
    background-color: var(--background-button-hover);
    transition: all .1s ease-in-out;
}

@media screen and (min-width: 0) {
    .experience__section__title {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }

    .experience__title {
        font-size: 1.1rem;
        line-height: 1.188rem;
    }

    .experience__text {
        font-size: 0.875rem;
        line-height: 1rem;
    }

    .experience__image {
        width: 300px;
        height: 150px;
    }

    .experience__box {
        flex-direction: column;
        width: 100%;

        align-items: center;
        text-align: center;

        padding: 2rem 0;
    }

    .experience__info {
        padding: 1rem 0;
    }

    .experience__description {
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .experience__section__title {
        font-size: 2rem;
        line-height: 2.375rem;
    }

    .experience__title {
        font-size: 1.375rem;
        line-height: 26px;
    }

    .experience__text {
        font-size: 1rem;
        line-height: 19px;
    }

    .experience__image {
        width: 600px;
        height: max-content;
    }

    .experience__box {
        flex-direction: row;
        justify-content: center;

        align-items: initial;
        text-align: initial;
    }

    .experience__info {
        text-align: start;

        padding: 0;
        padding-left: 2rem;

        width: 350px;
    }

    .experience__description {
        justify-content: start;
    }
}